<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amudi Genética</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        alert('hello');
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>
</head>
<body>
    <h1>HELLO WORLD</h1>

    <div id="graphs">
    {#
        {% for item in navigation %}
            <div><a href="{{ item.href }}">{{ item.caption }}</a></div>
        {% endfor %}
    #}

    GRAPHS!
    </div>
    <div style="text-align:center" id="votos">
    <h2>Gráficos</h2>
    <table align="center" border = "1">
    <tr><td>indivíduo 1</td><td>indivíduo 2</td><td>indivíduo 3</td><td>indivíduo 4</td></tr>
    <tr><td>indivíduo 1 - gráfico</td><td>indivíduo 2 - gráfico </td><td>indivíduo 3 - gráfico</td><td>indivíduo 4 - gráfico</td></tr>
    <tr><td><button onclick="funcaovoto(1)">Vote 1</button></td><td><button onclick="funcaovoto(2)">Vote 2</button></td><td><button onclick="funcaovoto(3)">Vote 3</button></td><td><button onclick="funcaovoto(4)">Vote 4</button></td></tr>
    </div>
    </table>
    <script>
	  function funcaovoto(a){
		window.alert(a);
    socket.emmit('vote',{a})
    }</script>

</body>
</html>
