<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amudi Genética</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('update_vote_number', function(recieved_data) {
            $.each(recieved_data, function(i, item) {
                $("#vote_number-"+(i)).text(item);
            })
        });
        socket.on('reload', function (data) {
            location.reload();
        });
    </script>
</head>
<body>
  <h1>Amudi Genética</h1>
    <div style="text-align:center" id="votos">
    <h2>Gráficos</h2>
    <table align="center" border = "1">

    <tr>
        <td>indivíduo 1</td>
        <td>indivíduo 2</td>
        <td>indivíduo 3</td>
        <td>indivíduo 4</td>
    </tr>
    <tr>
        <td><img src="{{url_for('static', filename='0.png')}}" width="200" height="200" alt="indivíduo 0 - gráfico"></td>
        <td><img src="{{url_for('static', filename='1.png')}}" width="200" height="200" alt="indivíduo 1 - gráfico"></td>
        <td><img src="{{url_for('static', filename='2.png')}}" width="200" height="200" alt="indivíduo 2 - gráfico"></td>
        <td><img src="{{url_for('static', filename='3.png')}}" width="200" height="200" alt="indivíduo 3 - gráfico"></td>
    </tr>
    <tr>
        <td><button id="1" class="vote">Vote 1</button></td>
        <td><button id="2" class="vote">Vote 2</button></td>
        <td><button id="3" class="vote">Vote 3</button></td>
        <td><button id="4"  class="vote">Vote 4</button></td>
    </tr>
    <tr>
        <td id="vote_number-1">0</td>
        <td id="vote_number-2">0</td>
        <td id="vote_number-3">0</td>
        <td id="vote_number-4">0</td>
    </tr>

    </table>
    </div>
    <script>
    $(document).ready( function () {
        $('.vote').click(function () {
            funcaovoto($(this).attr('id'));
        })
    })

	function funcaovoto(a){
         socket.emit('vote',{'chosen_candidate': a})
    }</script>
    <div style="text-align:center" id="couter">
      <style>
      .borda{width:30px; height:30px;
             padding:5px; border:4px solid black;
           }
      </style>
    <h3 align="left">Votos computados</h3>
    <p class=borda id="vote_counter">0</p>
  </div>

</body>
</html>
